1. What are data structures, and why are they important?

Data structures are liek containers in python.It is a way of organising and storing data so that it can be accessed and manipulated in an efficient way.

2.Explain the difference between mutable and immutable data types with examples?

Mutable data types are like-List,set,They can be changed and modified after creation at any time. Immutable datatypes are like tuples,string they can not be changed once created.

3.What are the main differences between lists and tuples in Python?

List are mutable,they can be changed and modified,tuples are immutable.

4.Describe how dictionaries store data?

In Dictionaries data is stored in the Key-Value pair.To access the data(value) you have to access the key. like daily life dictionaries,to access a word you have to look for the key then its definition.

5.Why might you use a set instead of a list in Python?

WHen u work on large data for example.you can use set instead of list,because it does not allow the duplicates,mutable,faster,can bring out the common data or uncoomon data in different sets of datas.Which is truly helpful most of the times for large datasets. Such features are not there in list except for mutation.

6.What is a string in Python, and how is it different from a list?

String is written inside the double quotes,it is a sequence of characters.It is immutable. It is represented by "str",a="Rashmi"
While the lists are a ordered from of anytype of datatypes..["a",5,(5+2j)]It can be anything.

7.How do tuples ensure data integrity in Python?

Since the tuples are immutable hence this can not be modified or changed after it is created hence,it ensures the integrity of data in python.It doesnt allow anyone to change it.Which helps in not making any unexpected chnages in data by bugs.

8.What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that stores key-value pairs and uses a hash function to compute an index (called a hash code) into an array where the value is stored.So instead of searching through the whole structure, it can go straight to where the value should be — super fast!Key must be hashable.

9 Can lists contain different data types in Python?

Yes,it can stroe anytype of datatype all together.

10.Explain why strings are immutable in Python?

If strings could be changed, lots of subtle bugs could pop up.This is to maintain the integrity of code.

11.What advantages do dictionaries offer over lists for certain tasks?

Dict uses key-value pair,hence it is alot fast for look up.Data is self describes about its information.No need to remember index number in dictionaries.

12.Describe a scenario where using a tuple would be preferable over a list?

For co-dinates it would be best.Like co-ordinates shouldn't be chnages by chance or accidently.
examples-

co_ordinates=(234.56,-627864,"India")

13.How do sets handle duplicate values in Python?

Sets do not allow duplicate values.They just ignore the duplicates without giving any error.

14.How does the “in” keyword work differently for lists and dictionaries?

In dictionaries "in" operator looks for keys not for values. In lists "in" looks for item by item.

15.Can you modify the elements of a tuple? Explain why or why not?

No we can not modify the elements of tuple,because it does not allow it to protect the data from changes from bugs or any accidental changes.

16.What is a nested dictionary, and give an example of its use case?

Nested dictionary is having a dictionary inside a dictionary.

In [13]:
d1={
    "candidate_1":{"name1":"Rashmi","age":30},
    "candidate_2":{"name2":"Krishna","age":"ageless"}
    }

17.Describe the time complexity of accessing elements in a dictionary?

In dictionaries accessing an elements is supperfast,since it looks only for key.

18.In what situations are lists preferred over dictionaries?

When the data is variable like it changes very often,When you want to iterate data in sequence and store it in a sequence.When data is duolicate since,dic doesnt allow duplicate keys.

19Why are dictionaries considered unordered, and how does that affect data retrieval?

Because in dictionries data does not have any sequence or index number.It does not gaurantee to return the data in same sequence it was stored.It is does not retreive data by order or keys.

20.Explain the difference between a list and a dictionary in terms of data retrieval?

List reteives data in order or index wise unlike dictionaries.Dictionaries reteives data using keys not index number.

1. Write a code to create a string with your name and print it?

In [ ]:
name="Kavya"

In [ ]:
print(name)

Kavya

2. Write a code to find the length of the string "Hello World"?

In [ ]:
n="Hello World"

In [ ]:
print(len(n))

11

3.
Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
n="RamChandra"

In [ ]:
print(n[:3])

Ram

4.Write a code to convert the string "hello" to uppercase?

In [ ]:
i="hello"

In [ ]:
print(i.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
statement="I like apple"

In [ ]:
print(statement.replace("apple","orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
k=[1,2,3,4,5]

In [ ]:
print(k)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
L1=[1,2,3,4]

In [ ]:
L1.append(10)

In [ ]:
print(L1)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
m1=[1,2,3,4,5]

In [ ]:
m1.remove(5) #5 can also be removed by using m1.pop(4)

In [ ]:
print(m1)

[1, 2, 3, 4]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
t=['a','b','c','d']

In [ ]:
print(t[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [ ]:
y=[10,20,30,40,50]

In [ ]:
y.reverse()

In [ ]:
print(y)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [ ]:
t=(100,200,300)

In [ ]:
print(t)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [ ]:
j=('red','green','blue','yellow')

In [ ]:
print(j[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

In [ ]:
k=(10,20,5,15)

In [ ]:
print(min(k))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [ ]:
r=('dog','cat','rabbit')

In [ ]:
print(r.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

In [ ]:
fruits=("blueberry","banana","pineapple")

In [ ]:
print("kiwi"in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?

In [ ]:
s={'a','b','c'}

In [ ]:
print(s)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

In [ ]:
f={1,2,3,4,5}

In [ ]:
f.clear()

In [ ]:
print(f)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?

In [ ]:
g={1,2,3,4}

In [ ]:
g.discard(4)

In [ ]:
print(g)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

In [ ]:
a={1,2,3}; b={3,4,5}

In [ ]:
print(a|b)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

In [ ]:
a={1,2,3};b={2,3,4}

In [ ]:
print(a&b)

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.?

In [ ]:
d1={"name":"Rashmi","age":24,"city":"UK"}

In [ ]:
print(d1)

{'name': 'Rashmi', 'age': 24, 'city': 'UK'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

In [ ]:
a={"name":"John","age":25}

In [ ]:
a["country"]="USA"

In [ ]:
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?

In [ ]:
f={"name":"Alice","age":30}

In [ ]:
print(f.get("name"))

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

In [ ]:
g={"name":"Bob","age":22,"city":"NewYork"}

In [ ]:
g.pop("age")

22

In [ ]:
print(g)

{'name': 'Bob', 'city': 'NewYork'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

In [ ]:
h={"name":"Alice","city":"Paris"}

In [ ]:
print("city"in h)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all?

In [ ]:
l1=[1,2,3,4]

In [ ]:
t1=(1,2,3,4)

In [ ]:
d1={1:"d",2:"c",3:"d",4:"e"}

In [ ]:
print(l1,t1,d1)

[1, 2, 3, 4] (1, 2, 3, 4) {1: 'd', 2: 'c', 3: 'd', 4: 'e'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)?

In [ ]:
g=[3,56,99]

In [ ]:
g.sort()

In [ ]:
print(g)

[3, 56, 99]

28. Write a code to create a list with strings and print the element at the third index?

In [ ]:
n=["hi","no","bye","busy"]

In [ ]:
print(n[3])

busy

29. Write a code to combine two dictionaries into one and print the result?

In [ ]:
d1={1:"hi",2:"no",3:"kya"}

In [ ]:
d2={"India":"Delhi","Italy":"Rome","Spain":"Madrid"}

In [ ]:
d1.update(d2)

In [ ]:
print(d1)

{1: 'hi', 2: 'no', 3: 'kya', 'India': 'Delhi', 'Italy': 'Rome', 'Spain': 'Madrid'}

30. Write a code to convert a list of strings into a set?

In [ ]:
l3=["hi","what","I said_hi","oh_hi"]

In [ ]:
print(set(l3))

{'oh_hi', 'I said_hi', 'hi', 'what'}